[user]
	name = Michael Gerlach
	email = michael.gerlach@commercetools.com
	signingkey = CD104F23B40BA82CA79D3DB33DDD4B421EFB0C2C
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[alias]
	a = add
	ap = add --patch
	ci = commit --signoff --message
	co = checkout
	d = diff --ws-error-highlight=all
	ds = diff --staged  --ws-error-highlight=all
	gl = config --global --list
	last = log HEAD --stat -1
	ll = log --oneline
	p = push
	rb = "!f() { \
	    echo fetching...; \
	    git fetch; \
	    if [ $? -eq 0 ]; then \
		last_status=$(git status --untracked-files=no --porcelain); \
		if [ \"$last_status\" != \"\" ]; then \
		    echo stashing local changes...; \
		    git stash; \
		else \
		    echo nothing to stash...; \
		fi;\
		if [ $? -eq 0 ]; then \
		    echo rebasing...;\
		    git rebase;\
		    if [ $? -eq 0 ]; then \
			if [ \"$last_status\" != \"\" ]; then\
			    echo applying stashed changes...;\
			    git stash pop;\
			    if [ $? -ne 0 ]; then \
				echo STASH POP FAIL - you will need to resolve merge conflicts with git mergetool; \
			    fi; \
			fi; \
		    else \
			echo REBASE FAILED - you will need to manually run stash pop; \
		    fi;\
		fi;\
	    fi; \
	    if [ $? -ne 0 ]; then \
		echo ERROR: Operation failed; \
	    fi; \
	}; f"
	rv = remote -v
	st = status
	uncommit = reset --soft HEAD~
[help]
	autocorrect = 20
